<header>
  <nav class="header">
    <div class="web-logo">
      <a>Recipe Blog</a>
    </div>
    <div *ngIf="!isLoginMode">
      <ul>
        <li>
          <a routerLink="/create">Create</a>
        </li>
        <li>
          <a routerLink="/Your">Your Recipes</a>
        </li>
        <li>
          <a routerLink="/Stories">Stories</a>
        </li>
        <li>
          <!-- <a routerLink="/auth">Login</a> -->
          <a style="cursor: pointer" (click)="onAuth()">{{
            isLoginMode ? "Login" : "Logout"
          }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
