.modal-overlay {
  top: 0;
  left: 0;

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .close-container {
    position: absolute;
    top: 10%;
    right: 10%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 40vh;

    img {
      height: 80vh;
      width: 100%;
    }
  }
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 80vh;
  flex: 0 0 50%;
  padding-left: 0.5rem;
  overflow-y: hidden;
  position: relative;
  .start-container {
    height: 30rem;
    position: relative;
    .recipe-detail {
      height: 80%;
      width: 80%;
      overflow-y: auto;

      position: absolute;
    }
    .recipe-detail::-webkit-scrollbar {
      display: none;
    }
  }
  .end-container {
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .commentInput-container {
      margin-bottom: 1.5rem;
    }
  }
  .data-container {
    justify-self: flex-end;
    padding-left: 0.5rem;
  }
  .ingredients-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 12.5rem;
  }
  .emoi-container {
    justify-self: flex-end;
    display: flex;
    width: 21.75rem;
    justify-content: flex-start;
    flex-direction: row;

    .emoi-btn {
      background-color: transparent;
      border-style: none;
      cursor: pointer;
      order: 3;

      .heart {
        height: 1rem;
        width: 1rem;
      }
      .save {
        height: 1rem;
        width: 1rem;
      }
    }
  }
}
.saved-recipe {
  background-color: red;
  color: white;
}

.unsaved-recipe {
  background-color: white;
  color: black;
}
.liked-recipe {
  background-color: red;
  color: white;
}

.unliked-recipe {
  background-color: white;
  color: black;
}
