<!-- <div class="list-container">
  <a
    *ngFor="let i of allRecipes; let r = index"
    [ngStyle]="{ 'background-color': i.userId === currentUser.id ? 'red' : '' }"
    (click)="expandedIndex[r] = !expandedIndex[r]"
  >
    <div class="recipe-container">
      <h2>{{ i.title }}</h2>
      <label>Author: {{ getAuthorName(i.userId) }}</label>
    </div>
    <div class="expanded-info" *ngIf="expandedIndex[r]">
      <div class="desc">
        <label>Description</label>
        <p>{{ i.description }}</p>
      </div>

      <ul class="ingredients-list">
        <li *ngFor="let key of i.ingredients">
          {{ key.name }}: {{ key.amount }}
        </li>
      </ul>
    </div>
  </a>
</div> -->

<div class="all-container">
  <div class="search-container">
    <label>Search recipe by name</label>
    <input type="text" placeholder="Search" [(ngModel)]="searchTitle" />
  </div>
  <div class="stories-label">
    <h1>Stories</h1>
  </div>
  <div
    class="list-container"
    *ngFor="let i of allRecipes | filterByTitle : searchTitle; let r = index"
  >
    <div class="your-container" *ngIf="i.userId === currentUser.id">
      <label>Yours</label>
    </div>
    <div class="author-container">
      <label>{{ getAuthorName(i.userId) }}</label>
      <p>1:30</p>
    </div>
    <div class="title-container">
      <h2>{{ i.title }}</h2>
    </div>
    <div class="img-container">
      <img
        src="https://i.pinimg.com/564x/80/95/f4/8095f4adae57b2319f5d24b5cf070e94.jpg"
        alt="przepis"
      />
    </div>
    <div class="emoi-container">
      <button class="emoi-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="heart"
          viewBox="0 0 512 512"
        >
          <path
            d="M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z"
          />
        </svg>
      </button>
      <button class="emoi-btn" (click)="onDetail(r, i.title)">
        <svg
          class="heart"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M168 32H24C10.7 32 0 42.7 0 56V200c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l40-40 79 79L81 335 41 295c-6.9-6.9-17.2-8.9-26.2-5.2S0 302.3 0 312V456c0 13.3 10.7 24 24 24H168c9.7 0 18.5-5.8 22.2-14.8s1.7-19.3-5.2-26.2l-40-40 79-79 79 79-40 40c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H424c13.3 0 24-10.7 24-24V312c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2l-40 40-79-79 79-79 40 40c6.9 6.9 17.2 8.9 26.2 5.2s14.8-12.5 14.8-22.2V56c0-13.3-10.7-24-24-24H280c-9.7 0-18.5 5.8-22.2 14.8s-1.7 19.3 5.2 26.2l40 40-79 79-79-79 40-40c6.9-6.9 8.9-17.2 5.2-26.2S177.7 32 168 32z"
          />
        </svg>
      </button>
      <button class="emoi-btn 3" (click)="onSave(r)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="save"
          viewBox="0 0 384 512"
        >
          <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M0 48C0 21.5 21.5 0 48 0l0 48V441.4l130.1-92.9c8.3-6 19.6-6 27.9 0L336 441.4V48H48V0H336c26.5 0 48 21.5 48 48V488c0 9-5 17.2-13 21.3s-17.6 3.4-24.9-1.8L192 397.5 37.9 507.5c-7.3 5.2-16.9 5.9-24.9 1.8S0 497 0 488V48z"
          />
        </svg>
      </button>
    </div>
    <div class="description-container">
      <p>{{ i.description }}</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
