* {
  box-sizing: border-box;
}

.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid gray;
    label {
      margin-bottom: 10px;
    }
    input {
      width: 50vw;
      height: 40px;
      border-radius: 5px;
    }
    input:focus {
      border: 3px solid blue;
    }
    input:focus::placeholder {
      opacity: 0;
    }
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    min-width: 800px;

    cursor: pointer;
    background-color: aqua;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 15px 10px #777;
    .recipe-container {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .expanded-info {
      display: flex;
      flex-direction: column;
      background-color: aquamarine;
      margin: 30px;

      border-radius: 30px;
      box-shadow: 0 5px 4px #777;
      .desc {
        align-self: center;
        padding-top: 10px;
        font-size: 20px;
      }
      .ingredients-list {
        display: flex;
        flex-wrap: wrap;
        li {
          list-style-type: none;
          padding: 20px;
          font-size: 17px;
        }
      }
    }
  }
}
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  margin: 0 auto;
  margin-bottom: 30px;

  border-bottom: 1px solid gray;
  .author-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 370px;
    margin-left: 20px;
    p {
      margin-left: 10px;
    }
  }

  .img-container {
    img {
      border-radius: 5px;
      width: 370px;
      height: 450px;
    }
  }
  .emoi-container {
    display: flex;
    width: 350px;
    justify-content: flex-start;
    flex-direction: row;
    .emoi-btn {
      background-color: transparent;
      border-style: none;
      cursor: pointer;
      .heart {
        height: 25px;
        width: 25px;
      }
      .save {
        height: 25px;
        width: 25px;
      }
    }
  }
  .description-container {
    margin-left: 5px;
    align-self: flex-start;
  }
}

.saved-recipe {
  background-color: red;
  color: white;
}

.unsaved-recipe {
  background-color: white;
  color: black;
}
.liked-recipe {
  background-color: red;
  color: white;
}

.unliked-recipe {
  background-color: white;
  color: black;
}
