<div class="list-container">
  <a
    *ngFor="let i of allRecipes; let r = index"
    (click)="expandedIndex[r] = !expandedIndex[r]"
  >
    <div class="recipe-container">
      <h2>{{ i.title }}</h2>
      <label>Author: {{ getAuthorName(i.userId) }}</label>
    </div>
    <div class="expanded-info" *ngIf="expandedIndex[r]">
      <div class="desc">
        <label>Description</label>
        <p>{{ i.description }}</p>
      </div>

      <ul class="ingredients-list">
        <li *ngFor="let key of i.ingredients">
          {{ key.name }}: {{ key.amount }}
        </li>
      </ul>
    </div>
  </a>
</div>
